*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}


header {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
  background-color: teal;
}

header ul li a:focus {
  outline: 2px solid #00bcd4; 
  outline-offset: 2px;
}


.search-form { 
  display: inline-block;
  vertical-align: middle;
  margin-top: 7px;
}
.search-form input[type="text"] {
  padding: 8px;
  color: black; 
  background-color: white; 
  border: none; 
  width: 350px; 
  margin-right: 5px; 
}
.search-form button {
  cursor: pointer;
  padding: 10px;
}

.signin-link{
  float: right;
}

.signin-link i {
  height: 30px;
  width: 50px;
}


  #span{
      background: linear-gradient(rgba(0,0,0,0.5),#272828), url(https://images.unsplash.com/photo-1633464129147-777bdcc97c1d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c25lYWtlciUyMHN0b3JlfGVufDB8fDB8fHww);
      background-size: cover;
      background-position: center;
      Height: 100vh;
}
#span1 {
  position: relative;
  overflow: hidden;
}

#span1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.span-text{
  text-align: center;
  color:white;
  padding-top: 180px;
}
.span-text h1{
font-size: 130px;
font-family: 'Kaushan Script', fantasy;
}
.span-text p{
  font-size: 20px;
  font-style: italic;
}
.span-btn{
  margin: 70px auto 0;
}
.span-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: aliceblue;
  border: .5px solid black;
  position: relative;
  z-index: 1;
}
.span-btn a span{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
}
.span-btn :hover{
  opacity: 0.3;
  background-color: black;
  
}
#order{
  width: 100%;
  padding: 70px 0;
}
.order-text{
  text-align: center;
  padding-bottom: 70px;
}
.order-text p{
  margin: auto;
  font-size: 20px;
  color: black;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}


.order-text h1{
  font-size: 50px;
}
.order-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.orders{
  flex-basis: 50%;
}
.orders-form{
  flex-basis: 50%;
  margin: auto;
  display: block;

}

.orders-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.orders-form input,
.orders-form select,
.orders-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.orders-img img{
  width: 70%;
  border-radius: 10px;
}
.orders h1{
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100;
  color:black;
}
.ordered-desc{
  display:flex;
  align-items: center;
  margin-bottom: 40px;
}
.order-text p{
  padding: 0 10px;
  text-align: left;

}


#service {
  width: 100%;
  padding: 70px 0;
  background: #efefef;
  text-align: center;
}

#service_homepage {
  background: linear-gradient(rgba(0,0,0,0.5),#272828), url(https://e0.pxfuel.com/wallpapers/609/703/desktop-wallpaper-black-and-teal-black-and-teal-background-on-bat-black-and-green-gradient-thumbnail.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 70px 0;
  width: 100%;
}

.title-text {
  margin-bottom: 40px;
  color: white;
}

.title-text h1{
  color: white;
}
.title-text p{
  color: white;
}

.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #333;
  position: relative;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.single-service img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.single-service h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-service p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

#products {
  padding: 80px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  flex-basis: 30%; 
  flex-grow: 1; 
  margin: 10px;
}

 #mens.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card.mens {
  border: 1px solid #ccc;
  padding: 20px;
  width: calc(48% - 20px); 
  margin: 10px;
  box-sizing: border-box;
}
    


#womens.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.product-card.womens {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(48% - 20px); 
    margin: 10px;
    box-sizing: border-box;
}

#kids.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
            
.product-card.kids {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(48% - 20px); 
    margin: 10px;
    box-sizing: border-box;
}

.product-card .product-details {
  flex-basis: 45%;
  margin-bottom: 20px;
  text-align: left;
}

.product-card .product-details h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .product-details p {
  font-size: 14px;
  margin-bottom: 8px;
}

.product-cards {
  display: none;
  flex-wrap: wrap;
  align-items: flex-start; 
}
.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: calc(30% - 20px); 
  margin: 10px;
  box-sizing: border-box; 
}

.product-cards:target {
  display: block;
}

#mens:target .mens {
  display: block;
  flex-wrap: wrap;

}

#womens:target .womens {
  display: block;
}

#kids:target .kids {
  display: block;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.product-card .product-image {
  flex-basis: 45%;
  margin-bottom: 20px;
}
.product-card .product-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
  opacity: 0.7;
}



.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.categories button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories button:hover {
  background-color: #999;
}

.about {
  padding: 50px 0;
  background-color: #fff;
}

.about h1 {
  color: #333;
  margin-bottom: 20px;
}

.about p {
  line-height: 1.6;
  margin-bottom: 20px;
}


#footer {
  padding: 40px 0;
  background: #333;
  color: #fff;
}

.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 10px;
}

.footer-right {
  text-align: right;
}

.footer-row h1 {
  margin: 10px 0;
}

.footer-row p {
  line-height: 30px;
}

.social {
  margin-top: 20px;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social ul li {
  display: inline;
  margin-right: 10px;
}

.fa {
  padding: 10px;
  font-size: 24px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fa:hover {
  background-color: #555;
}




legend{
  font-family: fantasy;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-top: 5%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  opacity: 0.3;
}

.active {
  background-color: #04AA6D;
}



.fa-snapchat {
  background: #e2fa09;
  color: white;
  
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background-color: salmon;
  color: aliceblue;
}



